:root {
  --header--color: #ffffff;
  --cap--bg--color: #2f303a;
  --button--color: #2196f3;
  --text--color: #757575;
  --title--color: #212121;
  --ourteam--bg--color: #f5f4fa;
  --logo--color: #000;
  --footer--contact: rgba(255, 255, 255, 0.6);
}
body {
  font-family: Roboto;
}

.header_logo {
  color: var(--button--color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header_studio {
  color: var(--logo--color);
}

.header_link {
  color: var(--title--color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header_link:hover,
.header_link:focus {
  color: var(--button--color);
}

.header_suplink {
  color: var(--text--color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header_suplink:hover,
.header_suplink:focus {
  color: var(--button--color);
}

/* sectionHero */

.main {
  background: var(--cap--bg--color);
  text-align: center;
}

.main_head {
  color: var(--header--color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.main_button {
  color: var(--header--color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.96px;
  border-radius: 2px;
  background: var(--button--color);
}

/* unit */

.unit_title {
  color: var(--title--color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.unit_txt {
  color: var(--text--color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}

/* work */
.work_title {
  color: var(--title--color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
}

/* team */
.team {
  background-color: var(--ourteam--bg--color);
}

.team_our {
  color: var(--title--color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
}

.team_title {
  color: var(--title--color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.48px;
}

.team_txt {
  color: var(--text--color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}

.footer {
  background-color: var(--cap--bg--color);
}

.footer_link {
  color: var(--button--color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer_studio {
  color: var(--header--color);
}

.footer_address {
  color: var(--header--color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}

.footer_contact {
  color: var(--footer--contact);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}

/* portfolio */
.card_btn {
  color: var(--title--color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 62;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: none;
  background: var(--ourteam--bg--color);
}
.card_btn:hover,
.card_btn:focus {
  color: var(--header--color);
  background-color: var(--button--color);
}

.card_title {
  color: var(--title--color);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.card_txt {
  color: var(--text--color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}
