:root {
  --header--color: #ffffff;
  --cap--bg--color: #2f303a;
  --button--color: #2196f3;
  --text--color: #757575;
  --title--color: #212121;
  --ourteam--bg--color: #f5f4fa;
  --logo--color: #000;
  --footer--contact: rgba(255, 255, 255, 0.6);
  --icon--color: #afb1b8;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: solid red;
}
body {
  font-family: Roboto;
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header > .container {
  display: flex;
  align-items: center;
}

.header_logo {
  color: var(--button--color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: 93px;
}

.header_studio {
  color: var(--logo--color);
  background-image: url(https://i.pinimg.com/originals/5d/d0/11/5dd01111838b27780fd2f88a9226e887.gif);
  background-clip: text;
  color: transparent;
}

.header_list {
  display: flex;
  gap: 50px;
}

.header_link {
  color: var(--title--color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header_link:hover,
.header_link:focus {
  color: var(--button--color);
}

.active {
  color: var(--button--color);
}

.header_scroll {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header_supitem {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row-reverse;
}

.header_icon {
  width: 16px;
  height: 12px;
  fill: var(--text--color);
}

.header_supitem:last-child {
  .header_icon {
    width: 10px;
    height: 16px;
  }
}

.header_suplink {
  color: var(--text--color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header_suplink:hover,
.header_suplink:focus {
  color: var(--button--color);
}

.header_suplink:hover + .header_icon {
  fill: var(--button--color);
}

/* sectionHero */
.main {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* rgba(47, 48, 58, 0.40) */
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/headerbg.webp);
  /* background-image: url(../img/Img.jpg); */
}

.main_head {
  color: var(--header--color);
  text-align: center;
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
}

.main_button {
  color: var(--header--color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.96px;
  border-radius: 2px;
  background: var(--button--color);
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/* unit */
.unit {
  padding-top: 94px;
  padding-bottom: 94px;
}

.unit_list {
  display: flex;
  gap: 30px;
}

.unit_item::before {
  display: block;
  content: "";
  background-color: var(--ourteam--bg--color);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-image: url(../img/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.unit_item:nth-child(2)::before {
  background-image: url(../img/clock.png);
}

.unit_item:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}

.unit_item:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
}

.unit_title {
  color: var(--title--color);
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.unit_txt {
  color: var(--text--color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}

/* work */

.relative {
}

.work {
  padding-bottom: 94px;
}

.work_item {
  position: relative;
}

.work_title {
  color: var(--title--color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.work_text {
  color: var(--header--color);
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding-bottom: 27px;
  padding-top: 27px;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.work_list {
  display: flex;
  gap: 30px;
}
/* team */
.team {
  background-color: var(--ourteam--bg--color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team_our {
  color: var(--title--color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team_img {
  width: 270px;
  height: 270px;
}

.team_list {
  display: flex;
  gap: 30px;
}

.team_items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.team_icon {
  width: 20px;
  height: 20px;
  fill: var(--icon--color);
}

.team_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.team_link:hover {
  background-color: var(--button--color);
  .team_icon {
    fill: var(--ourteam--bg--color);
  }
}

.team_item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.team_div {
  border-radius: 0 0 4px 4px;
  background-color: var(--header--color);
  padding-bottom: 30px;
  padding-top: 30px;
}

.team_title {
  color: var(--title--color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team_txt {
  color: var(--text--color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}

.client {
  padding-bottom: 94px;
  padding-top: 94px;
}

.client_list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client_title {
  color: var(--title--color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.client_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--icon--color);
}

.client_item:hover {
  border: 1px solid var(--button--color);
  .client_icon {
    fill: var(--button--color);
  }
}

.client_icon {
  width: 106px;
  height: 60px;
  fill: var(--icon--color);
}

.boxfooter {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.footer_suptitle {
  color: var(--header--color);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer_suplist {
  display: flex;
  gap: 10px;
}

.footer_suplink {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
}

.footer_icon {
  width: 20px;
  height: 20px;
  fill: var(--header--color);
}

.footer_suplink:hover {
  background-color: var(--button--color);
}

.footer {
  background-color: var(--cap--bg--color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer_list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer_link {
  display: inline-block;
  color: var(--button--color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}

.footer_studio {
  color: var(--header--color);
}

.footer_address {
  color: var(--header--color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer_contact {
  color: var(--footer--contact);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}

/* portfolio */

.card {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card_div {
  padding-bottom: 20px;
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 24px;
}

.card_btn {
  color: var(--title--color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: none;
  background: var(--ourteam--bg--color);
  padding: 6px 22px 6px 22px;
}
.card_btn:hover,
.card_btn:focus {
  color: var(--header--color);
  background-color: var(--button--color);
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

.card_list {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.card_items {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card_elm {
  border: 1px solid #eee;
  width: 370px;
  height: 404px;
  flex-shrink: 0;
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eee;
}

.card_elm:hover {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    1px 4px 6px 0 rgba(0, 0, 0, 0.16);
}

.card_title {
  color: var(--title--color);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}

.card_txt {
  color: var(--text--color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

/* modalpage */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}


.is-hidden{
  opacity: 0;
  pointer-events: none;
}


.modal {
  width: 528px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal_close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: solid 1px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}


.modal_close:hover,
.modal_close:focus{
  .modal_icon{
    fill: var(--button--color);
  }
}

.modal_icon {
  width: 18px;
  height: 18px;
}

.modal_title {
  color: var(--title--color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal_lable {
  display: block;
  color: var(--text--color);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
}

.modal_input {
  margin-top: 4px;
  display: block;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border: none;
  width: 100%;
height: 40px;
margin-bottom: 10px;
padding-left: 42px;
}

.modal_input:hover,
.modal_input:focus{
outline: 1px solid var(--button--color);
}

.modal_img{
  width: 18px;
  height: 18px;
  fill:var(--title--color) ;
  position: absolute;
  top: 30px;
  left: 12px;
}


.modal_input:hover + .modal_img,
.modal_input:focus + .modal_img{
  fill: var(--button--color);
}


.modal_coment{
  display: block;
  margin-top: 4px;
  width: 100%;
height: 120px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
padding: 12px 16px;
color: rgba(117, 117, 117, 0.50);
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
resize: none;
margin-bottom: 20px;
}


.modal_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal_check{
  width: 16px;
height: 15px;
}


.modal_text{
  color: var(--text--color);
font-size: 14px;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
margin-left: 8px;
margin-right: 4px;
}

.modal_link{
  color: var(--button--color);
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}


.modal_supbutton{
  color: var(--header--color);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
background-color: var(--button--color);
border-radius: 4px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
padding: 10px 52px;
border: none;
display: block;
margin: 0 auto;
margin-top: 30px;
}
