@use"./base/reset";
@use"./base/common";
@use"./base/container";
@use"./utils/placeholder";
@use"./base/var";
@use"./section/header";
@use"./section/hero";
@use"./section/unit";
@use"./section/work";
@use"./section/team";
@use"./section/client";
@use"./section/footer";
@use"./section/scroll";
@use"./section/modal";
@use"./section/portfolio";
