@use"../base/var" as *;
.client {
  padding-bottom: 94px;
  padding-top: 94px;
}

.client_list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client_title {
  color: $title--color;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.client_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid $icon--color;
   transition-property: border;
  transition-duration: 250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.client_item:hover {
  border: 1px solid $button--color;
  .client_icon {
    fill: $button--color;
  }
}

.client_icon {
  width: 106px;
  height: 60px;
  fill: $icon--color;
   transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}