@use"../base/var" as *;
@use"../utils/placeholder";
.client {
  padding-bottom: 94px;
  padding-top: 94px;
  
  &__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

&__title {
  color: $title--color;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

&__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid $icon--color;
   transition-property: border;
  @extend %transition;

  &:hover {
  border: 1px solid $button--color;
  .client__icon {
    fill: $button--color;
  }
}
}

&__icon {
  width: 106px;
  height: 60px;
  fill: $icon--color;
   transition-property: fill;
  @extend %transition;
}
}


