@use"../base/var" as *;

.footer{
    background-color: $cap--bg--color;
  padding-top: 60px;
  padding-bottom: 60px;

 &__suptitle {
  color: $header--color;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
&__suplist {
  display: flex;
  gap: 10px;
}

&__suplink {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
   transition-property:  background-color;
  transition-duration: 250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
  background-color: $button--color;
}

}
&__icon {
  width: 20px;
  height: 20px;
  fill: $header--color;
   transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
&__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

&__link {
  display: inline-block;
  color: $button--color;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}
&__studio {
  color: $header--color;
}
&__address {
  color: $header--color;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  margin-top: 20px;
  margin-bottom: 9px;
}
&__contact {
  color: $footer--contact;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}
&__join{
  margin-left: 70px;
  margin-right: auto;
}
&__title{
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: $header--color;
margin-bottom: 20px;
}

&__form{
  display: flex;
  gap: 12px;
}
&__input{
font-weight: 400;
font-size: 16px;
line-height: 125%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
width: 358px;
height: 50px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: rgba(33, 150, 243, 0);
}

&__btn{
  border-radius: 4px;
width: 200px;
height: 50px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: $button--color;
font-weight: 700;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
text-align: center;
color: $header--color;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}


&__send{
width: 24px;
height: 24px;
fill: $header--color;
}
}

.boxfooter {
  display: flex;
  align-items: baseline;
}











