@use"../base/var" as *;
.boxfooter {
  display: flex;
  align-items: baseline;
}

.footer_suptitle {
  color: var(--header--color);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer_suplist {
  display: flex;
  gap: 10px;
}

.footer_suplink {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
   transition-property:  background-color;
  transition-duration: 250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_icon {
  width: 20px;
  height: 20px;
  fill: var(--header--color);
   transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_suplink:hover {
  background-color: var(--button--color);
}

.footer {
  background-color: var(--cap--bg--color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer_list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer_link {
  display: inline-block;
  color: var(--button--color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}

.footer_studio {
  color: var(--header--color);
}

.footer_address {
  color: var(--header--color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer_contact {
  color: var(--footer--contact);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}

.footer_join{
  margin-left: 70px;
  margin-right: auto;
}


.footer_title{
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--header--color);
margin-bottom: 20px;
}


.footer_form{
  display: flex;
  gap: 12px;
}

.footer_input{
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 125%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
width: 358px;
height: 50px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: rgba(33, 150, 243, 0);
}


.footer_btn{
  border-radius: 4px;
width: 200px;
height: 50px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: var(--button--color);
font-weight: 700;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
text-align: center;
color: var(--header--color);
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}


.footer_send{
width: 24px;
height: 24px;
fill: var(--header--color);
}