@use"../base/var" as *;
@use"../utils/placeholder";
@use"../utils/mixin" as *;

.footer{
    background-color: $cap--bg--color;
  padding-top: 60px;
  padding-bottom: 60px;

  &__wraper{
      display: flex;
      justify-content: center;
      flex-direction: column;

      @media screen and (min-width:768px) {
        flex-direction: row;
        align-items: baseline;
         flex-wrap: wrap;  
      }

      @media screen and (min-width:1200px) {
        flex-wrap: nowrap;
      }
    }
    
   &__box{
    width:235px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width:1200px) {
  text-align: start;
  }

  @media screen and (min-width:768px) {
    margin-left: 0;
    margin-right: 0;
}
    }

 &__suptitle {
  color: $header--color;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
&__suplist {
  display: flex;
  gap: 10px;
}

&__suplink {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  @include flexbox();
   transition-property:  background-color;
  @extend %transition;
    &:hover {
  background-color: $button--color;
}

}
&__icon {
  width: 20px;
  height: 20px;
  fill: $header--color;
   transition-property: fill;
    @extend %transition;
    gap: 20px;
}
&__list {
  // display: flex;
  // flex-direction: column;
  // gap: 9px;
  @include flexbox ($direction:column, $gap:9px, $align:center);

  @media screen and (min-width:1200px) {
    @include flexbox ($align:start, $gap:9px, $justify:start)
  }
}

&__link {
  display: inline-block;
  color: $button--color;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.03em;
  margin-bottom: 20px;

  @media screen and (min-width:768px) {
    
  }

  @media screen and (min-width:1200px) {
    font-size: 26px;
     letter-spacing:0.78px;
  }
}
&__studio {
  color: $header--color;
}
&__address {
  color: $header--color;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  margin-top: 20px;
  margin-bottom: 9px;
}
&__contact {
  color: $footer--contact;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}
&__join{
  text-align: center;
margin-top: 60px ;
margin-bottom: 60px ;
margin-left: auto;
margin-right: auto;

@media screen and (min-width:480px) {
}

  @media screen and (min-width:768px) {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 165px;
    margin-right: 0;
  }

  @media screen and (min-width:1200px) {
      margin-left: 70px;
      text-align: start;
  }
}
&__title{
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: $header--color;
margin-bottom: 20px;
}

&__form{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

    @media screen and (min-width:1200px) {
     gap: 12px;
     flex-direction: row;
  }
}
&__input{
font-weight: 400;
font-size: 16px;
line-height: 125%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
width: 100%;
height: 50px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: rgba(33, 150, 243, 0);

 @media screen and (min-width:480px) {
    width: 450px;
  }

    @media screen and (min-width:768px) {
    
  }

    @media screen and (min-width:1200px) {
    width: 358px;
  }
}

&__btn{
  border-radius: 4px;
width: 200px;
height: 50px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: $button--color;
font-weight: 700;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
text-align: center;
color: $header--color;
// display: flex;
// align-items: center;
// justify-content: center;
// gap: 10px;
@include flexbox($gap:10px);
}


&__wrap {
text-align: center;

@media screen and (min-width:768px) {
  margin-top: 60px ;
}

  @media screen and (min-width:1200px) {
    text-align: start;
    margin-top: 0px;
      margin-left: 93px;
  }
}


&__send{
width: 24px;
height: 24px;
fill: $header--color;
}
}

.boxfooter {
  display: flex;
  align-items: baseline;
}











