@use"../base/var" as *;
@use"../utils/placeholder";
@use"../utils/mixin" as *;
.header {
  padding-top: 10px;
  padding-bottom: 0px;

 @media screen and (min-width:768px){
    padding: 21px 0px;
  }

  @media screen and (min-width:1200px) {
    padding: 24px 0px;
  }

   & > .container {
  display: flex;
  align-items: center;
}

  &__logo {
  color: $button--color;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 0.03em;
  letter-spacing: 0.78px;
  margin-right: auto;

    @media screen and (min-width:768px){
    margin-right: 87px ;
  }

  @media screen and (min-width:1200px) {
   font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }

}

&__studio {
  color: $logo--color;
  background-image: url(https://i.pinimg.com/originals/5d/d0/11/5dd01111838b27780fd2f88a9226e887.gif);
  background-clip: text;
  color: transparent;
}


&__list {
  display: none;
  margin-left: auto;
  gap: 50px;

  @media screen and (min-width:768px) {
    display: flex;
  }
 
}

&__link {
  color: $title--color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition-property: color;
  @extend %transition;
  &:hover,
&:focus {
  color: $button--color;
}
&:hover::after{
  opacity: 1;
}

}


&__item{
  position: relative;
}


&__link::after{
content:"";
width: 100%;
height: 4px;
background-color: $button--color;
display: block;
border-radius: 4px;
position: absolute;
left: 0;
bottom: -33px;
opacity: 0;
@extend %transition;
transition-property:opacity;

}

&__nav{
  display: none;

  @media screen and (min-width:768px) {
    display: block;
    
  }
}


&__scroll {
  display: none;
  gap: 50px;
  margin-left:auto ;

  @media screen and (min-width:768px)  {
      display: flex;
      flex-direction: column;
      gap:10px;
      align-items: start;
      justify-content: center;
    }

    @media screen and (min-width:1200px) {
     flex-direction: row; 
     gap:30px;
    }
}

&__supitem {
  // display: flex;
  // align-items: center;
  // gap: 10px;
  // flex-direction: row-reverse;
  @include flexbox($gap:10px, $direction:row-reverse);

  &:last-child {
  .header__icon {
    width: 10px;
    height: 16px;
  }
}

}

&__icon {
  width: 16px;
  height: 12px;
  fill: $text--color;
   transition-property: fill;
  @extend %transition;
}


&__suplink {
  color: $text--color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition-property: color;
@extend %transition;
  &:hover,
&:focus {
  color: $button--color;
}
&:hover + .header__icon {
  fill: $button--color;
}
}
}
 

.active {
  color: $button--color;
}

// Mobail___menu//

.menu{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $header--color;
  z-index: 1;
  padding: 48px 0px 40px 40px;

&__close{
position: absolute;
top:10px;
right:15px ;
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
border: none;
background-color: transparent;

&:hover{
  .menu__icon{
    fill:$button--color;

  }
}
}

&__list{
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 100px;
}

&__link{
font-weight: 500;
font-size: 40px;
letter-spacing: 0.02em;
text-align: center;
color: $title--color;

&:hover{
  color: $button--color;
}
}

&__items{
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

&__el:nth-child(1){

  .menu__contact{
font-weight: 500;
font-size: 34px;
letter-spacing: 0.02em;
color: $button--color;
  }
}


&__contact{
font-weight: 500;
font-size: 24px;
letter-spacing: 0.02em;
color: $title--color;
}

&__social{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

&__elm{
  display: flex ;
  align-items: center;
  gap: 10px;
}


&__elm:not(:last-child)::after{
content: "";
  display: block;
  background-color: rgb(33,33,33,0.2);
  width: 1px;
  height: 22px;
}

&__web{
font-weight: 500;
font-size: 18px;
line-height: 122%;
letter-spacing: 0.02em;
color: $header--color;
}
}

.curent{
  color: $button--color;
}



