@use"../base/var" as *;
@use"../utils/placeholder";
.header {
  padding-top: 24px;
  padding-bottom: 24px;

   & > .container {
  display: flex;
  align-items: center;
}

  &__logo {
  color: $button--color;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: 93px;
}

&__studio {
  color: $logo--color;
  background-image: url(https://i.pinimg.com/originals/5d/d0/11/5dd01111838b27780fd2f88a9226e887.gif);
  background-clip: text;
  color: transparent;
}


&__list {
  display: flex;
  gap: 50px;
}

&__link {
  color: $title--color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition-property: color;
  @extend %transition;
  &:hover,
&:focus {
  color: $button--color;
}
&:hover::after{
  opacity: 1;
}

}


&__item{
  position: relative;
}


&__link::after{
content:"";
width: 100%;
height: 4px;
background-color: $button--color;
display: block;
border-radius: 4px;
position: absolute;
left: 0;
bottom: -33px;
opacity: 0;
@extend %transition;
transition-property:opacity;

}




.active {
  color: $button--color;
}

&__scroll {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

&__supitem {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row-reverse;

  &:last-child {
  .header__icon {
    width: 10px;
    height: 16px;
  }
}

}

&__icon {
  width: 16px;
  height: 12px;
  fill: $text--color;
   transition-property: fill;
  @extend %transition;
}


&__suplink {
  color: $text--color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition-property: color;
@extend %transition;
  &:hover,
&:focus {
  color: $button--color;
}
&:hover + .header__icon {
  fill: $button--color;
}
}
}






