@use "../base/var" as *;
/* sectionHero */
.main {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* rgba(47, 48, 58, 0.40) */
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../img/headerbg.webp);
  /* background-image: url(../img/Img.jpg); */
}

.main_head {
  color: var(--header--color);
  text-align: center;
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
  
}

.main_button {
  color: var(--header--color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.96px;
  border-radius: 2px;
  background: var(--button--color);
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
