@use "../base/var" as *;
/* sectionHero */
.main {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* rgba(47, 48, 58, 0.40) */
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../img/mobail/hero-mobail@1x.webp);
    
    @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {

     background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../img/mobail/hero-mobail@2x.webp);
}
    @media screen and (min-width:768px) {
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../img/tablet/hero-tablet@1x.webp);

        @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {

     background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../img/tablet/hero-tablet@2x.webp);
}

  @media screen and (min-width:1200px) {

     background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../img/desktop/hero-desktop@1x.webp);

          @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {

     background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../img/desktop/hero-desktop@2x.webp);
}
  }
    
      padding-top: 200px;
  padding-bottom: 200px;
  }


  /* background-image: url(../img/Img.jpg); */
  &__head {
  color: $header--color;
  text-align: center;
  width: 100%;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
  
 @media screen and (min-width:480px) {
    width: 360px;
  }
  
  @media screen and (min-width:768px) {
  }

  @media screen and (min-width:1200px) {
     font-size: 44px;
     letter-spacing: 2.64px;
     width: 696px;
  }
  
}

&__button {
  color: $header--color;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.96px;
  border-radius: 2px;
  background: $button--color;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left:24px;
  padding-right: 24px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  @media screen and (min-width:1200px) {
    padding: 10px 32px ;
  }
}

}

