@use"../base/var" as *;
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}


.is-hidden{
  opacity: 0;
  pointer-events: none;
  transition-property:opacity ;
  transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}

.is-hidden .modal{
   transform: translate(-50%,500px) rotate(180deg) scale(-2) skew(20deg,20deg); 
   /* transform: scale(0); */
}



.modal {
  width: 528px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  transition-property: transform;
  transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}



.modal_close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: solid 1px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}


.modal_close:hover,
.modal_close:focus{
  .modal_icon{
    fill: $button--color;
  }
}

.modal_icon {
  width: 18px;
  height: 18px;
}

.modal_title {
  color: $title--color;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal_lable {
  display: block;
  color: $text--color;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
}

.modal_input {
  margin-top: 4px;
  display: block;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border: none;
  width: 100%;
height: 40px;
margin-bottom: 10px;
padding-left: 42px;
}

.modal_input:hover,
.modal_input:focus{
outline: 1px solid $button--color;
}

.modal_img{
  width: 18px;
  height: 18px;
  fill:$title--color ;
  position: absolute;
  top: 30px;
  left: 12px;
}


.modal_input:hover + .modal_img,
.modal_input:focus + .modal_img{
  fill: $button--color;
}


.modal_coment{
  display: block;
  margin-top: 4px;
  width: 100%;
height: 120px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
padding: 12px 16px;
color: rgba(117, 117, 117, 0.50);
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
resize: none;
margin-bottom: 20px;
}


.modal_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal_check{
  width: 16px;
height: 15px;
}


.modal_text{
  color: $text--color;
font-size: 14px;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
margin-left: 8px;
margin-right: 4px;
}

.modal_link{
  color: $button--color;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}


.modal_supbutton{
  color: $header--color;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
background-color: var(--button--color);
border-radius: 4px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
padding: 10px 52px;
border: none;
display: block;
margin: 0 auto;
margin-top: 30px;
}
