@use"../base/var" as *;
.card {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card_div {
  padding-bottom: 20px;
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 24px;
}


.card_item{
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  transition-property: color,background-color;
  transition-property: 250ms;
}

.card_btn {
  color: $title--color;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: none;
  background: $ourteam--bg--color;
  padding: 6px 22px 6px 22px;
}
.card_btn:hover,
.card_btn:focus {
  color: $header--color;
  background-color: $button--color;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

.card_list {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.card_items {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card_elm {
  border: 1px solid #eee;
  width: 370px;
  height: 404px;
  flex-shrink: 0;
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eee;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  transition: all;
  transition-property: 250ms;
}

.card_wraper{
  position: relative;
  overflow: hidden;
}


.card_suptext{
font-weight: 400;
font-size: 18px;
line-height: 156%;
letter-spacing: 0.03em;
color:$header--color;
background-color:rgba(33, 150, 243, 0.9);
position: absolute;
left: 0;
top: 0;
padding: 63px 24px;
height: 100%;
opacity: 0;
transform: translateY(100%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  transition-property: transform,opacity ;
  transition-duration: 250ms ;
}



.card_elm:hover {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    1px 4px 6px 0 rgba(0, 0, 0, 0.16);
    .card_suptext{
      opacity: 1;
      transform: translateY(0);
    }
}

.card_title {
  color: $title--color;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}

.card_txt {
  color: $text--color;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}