@use"../base/var" as *;
.scroll{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 50px;
 bottom: 50px;
 background-color: $button--color;

}

.scroll_icon{
 width: 30px;
 height: 30px;
 fill: $header--color;
}
