@use"../base/var" as *;
@use"../utils/mixin" as *;
.scroll{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  @include flexbox( $wrap:nowrap);
  position: fixed;
  right: 50px;
 bottom: 50px;
 background-color: $button--color;
  padding: 10px;
}

.scroll_icon{
 width: 30px;
 height: 30px;
 fill: $header--color;
}
