@use"../base/var" as *;
@use"../utils/placeholder";
@use"../utils/mixin" as *;
.team {
  background-color: $ourteam--bg--color;
  padding-top: 94px;
  padding-bottom: 94px;

  &__our {
  color: $title--color;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

&__img {
  width: 270px;
  height: 270px;
}

&__list {
  display: flex;
  gap: 30px;
}

&__items {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // gap: 10px;
  @include flexbox($gap:10px);
  margin-top: 16px;
}

&__icon {
  width: 20px;
  height: 20px;
  fill: $icon--color;
   transition-property: fill;
  @extend %transition;
}


&__link {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  @include flexbox ();
  height: 44px;
  width: 44px;
  border-radius: 50%;
   transition-property: background-color;
  @extend %transition;
  
&:hover {
  background-color: $button--color;
  .team__icon {
    fill: $ourteam--bg--color;
  }
}

}
&__item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

&__div {
  border-radius: 0 0 4px 4px;
  background-color: $header--color;
  padding-bottom: 30px;
  padding-top: 30px;
}

&__title {
  color: $title--color;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

&__txt {
  color: $text--color;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}
}


