@use"../base/var" as *;
.team {
  background-color: var(--ourteam--bg--color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team_our {
  color: var(--title--color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team_img {
  width: 270px;
  height: 270px;
}

.team_list {
  display: flex;
  gap: 30px;
}

.team_items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.team_icon {
  width: 20px;
  height: 20px;
  fill: var(--icon--color);
   transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.team_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
   transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.team_link:hover {
  background-color: var(--button--color);
  .team_icon {
    fill: var(--ourteam--bg--color);
  }
}

.team_item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.team_div {
  border-radius: 0 0 4px 4px;
  background-color: var(--header--color);
  padding-bottom: 30px;
  padding-top: 30px;
}

.team_title {
  color: var(--title--color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team_txt {
  color: var(--text--color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}