@use"../base/var" as *;
/* unit */
.unit {
  padding-top: 94px;
  padding-bottom: 94px;

&__list {
  display: flex;
  gap: 30px;
}
&__item{
&::before {
  display: block;
  content: "";
  background-color: $ourteam--bg--color;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-image: url(../img/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
&:nth-child(2)::before {
  background-image: url(../img/clock.png);
}

&:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}

&:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
}

}

  &__title {
  color: $title--color;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}



&__txt {
  color: $text--color;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}
}




