@mixin flexbox($flex:flex, $align:center, $justify:center,$direction:row, $wrap:wrap, $gap:0px){
    display: $flex;
    align-items:$align;
    justify-content: $justify;
    flex-wrap: $wrap;
    gap: $gap;
    flex-direction: $direction ;
}