.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid rgb(4, 5, 99);

   @media screen and (min-width: 480px){
    width: 480px;
   }
   @media screen and (min-width:768px) { 
    width: 768px;
   }
   @media screen and (min-width:1200px) {
    width: 1200px;
   }
}
