ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}
p,h1,h2,h3{
    margin: 0;
}
address{
    font-style: normal;
}