:root {
  --header--color: #ffffff;
  --cap--bg--color: #2f303a;
  --button--color: #2196f3;
  --text--color: #757575;
  --title--color: #212121;
  --ourteam--bg--color: #f5f4fa;
  --logo--color: #000;
  --footer--contact: rgba(255, 255, 255, 0.6);
  --icon--color: #afb1b8;
}
